@model Tuple<List<Appointment>,  List<Service>, List<Employee>, List<DateAppointment>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main-doctor.css">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <ul>

            <li><ion-icon name="pin"></ion-icon><a href="">г. Москва, ул. Родниковая, д.7</a></li>
            <li><ion-icon name="time"></ion-icon><a href="">Часы работы: 09:00-21:00</a></li>
            <li><ion-icon name="call"></ion-icon><a href="">Телефон: +7 (495) 885-80-80</a></li>
            <li><ion-icon name="search"></ion-icon><a href="">Поиск:</a></li>
        </ul>
    </header>

    <nav>
        <div class="logo-container">
            <img src="~/image/logo.png" alt="logo" width="80" height="80">
        </div>
        <ul>
            <li><a href="@Url.Action("MainPatient")">Главная</a></li>
            <li><a href="@Url.Action("Service")">Услуги</a></li>
            <li><a href="@Url.Action("ProfilePatient")">Личный кабинет</a></li>
        </ul>
        <div class="exit">
            <a href="@Url.Action("Auth")">Выход</a>
        </div>
    </nav>

    <div class="history">
        <table>
            <thead>
                <tr>
                    <th>Номер талона</th>
                    <th>Услуга</th>
                    <th>Стоимость</th>
                    <th>Врач</th>
                    <th>Дата приёма</th>
                    <th>Отменить</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.Item1)
                {
                    <tr>
                        <td>@appointment.Number</td>


                        @{
                            var service = Model.Item2.FirstOrDefault(p => p.IdService == appointment.ServiceId);
                            var nameService = (service != null) ? service.NameService : "";
                            int priceService = (service != null) ? service.PriceService : 0;
                        }

                        <td>@nameService</td>
                        <td>@priceService</td>

                        @{
                            var emp = Model.Item3.FirstOrDefault(p => p.IdEmployee == appointment.EmployeeId);
                            var surName = (emp != null) ? emp.SurnameEmployee : "";
                            var firstName = (emp != null) ? emp.FirstNameEmployee : "";
                            var middleName = (emp != null) ? emp.MiddleEmployee : "";
                            
                        }

                        <td>@surName @firstName @middleName</td>

                        @{
                            var dateApp = Model.Item4.FirstOrDefault(p => p.IdDateAppointment == appointment.DateAppointmentId);
                            var date = (dateApp != null) ? dateApp.Date : DateTime.MinValue; ;
                            var time = (dateApp != null) ? dateApp.Time : TimeSpan.Zero;
                        }

                        <td>@date.ToString("dd-MM-yyyy") @time.ToString(@"hh\:mm")</td>

                        

                        <td>
                            <form asp-action="DeleteAppointmentPatient" method="post">
                                <input type="hidden" value="@appointment.IdAppointment" name="IdAppointment" />
                                <button>Отменить запись</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>





    <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
</body>
</html>